<div class="card" id={{author}}>
  {{#each values as |card|}}
    <div class="choice type-{{card.type}}">
      <button class="title {{ toggled }}" {{ action "toggleCard" card.type author }}>
        <span>The {{card.type}}</span>
      </button>
      <div class="contents card-contents">
        <span>{{{card.task}}}</span>
      </div>
    </div>
  {{/each}}
</div>
{{yield}}
