<div id="pair">
  <div class="entry">
    <h3>{{liveUser.name}} should do...</h3>
    {{#each pairedActive as |card|}}
      <div class="card pairedCard {{pairCard}}">
        <div class="front">
          <div class="contents">
            {{{card.task}}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="entry">
    <h3>{{liveUser.pairName}} should do...</h3>
    {{#each playerActive as |card|}}
      <div class="card pairedCard {{pairCard}}">
        <div class="front">
          <div class="contents">
            {{{card.task}}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<div class="controls">
  <button {{action "newActives" }} class="button">New draw!</button>
  {{#link-to "listing" class="button"}}All cards{{/link-to}}
  {{#link-to "new-card" class="button"}}Add cards{{/link-to}}
</div>

{{yield}}
