<ul class="card-listing">
  {{#each list as |dare|}}
    <li class="card full">
      <div class="choice active">
        <div class="contents">
          <span>{{{dare.task}}}</span>
          <div class="type">{{dare.type}}</div>
          {{#if dare.active}}
            <div class="status active">Active</div>
          {{ else }}
            <button {{ action "deleteRecord" dare.id }} class="status button remove">Remove</button>
          {{/if}}
        </div>
      </div>
    </li>
  {{/each}}
</ul>
{{yield}}
